.second-block-news {
    padding: 10px 5%;
    overflow: hidden;
    font-family: 'Crete Round', sans-serif;
}

.row-tech {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slider {
    width: 45%;
    height: 450px;
}

.title-tech {
    width: 100%;
    border-bottom: 5px solid black;
    margin: 5px auto;
}

@media screen and (max-width: 780px) {
    .row-tech {
        flex-direction: column;
    }
    .slider {
        margin-top: 30px;
        width: 100%;
    }
}
