.carousel-item {
    font-family: 'Crete Round', serif;
}

.carousel-item > img {
    width: 400px;
    height: 360px;
}

.carousel-item::before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.carousel-item h3, p, span {
    color: white;
}

.carousel-item a {
    text-decoration: none;
    color: white;
}

